/* HEADINGS ------------------------------------- */
h1 {
  font-size: 3.2rem;
}

h2 {
  font-weight: 400;
  font-size: 2.4rem;
}
h2 .highlight {
  font-weight: 700;
}

h3 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3.4rem;
  }
  h3 {
    font-size: 3rem;
  }
}

.highlight {
  color: theme("colors.foregroundAccent.500");
}

/* CONTAINER ------------------------------------ */
/* TODO: follow Kevin Powell's tutorial */
.container {
  margin: 0 auto;
  padding: 30px 40px;
}
.container.container-purple {
  background: var(--qwik-light-purple);
}
.container.container-dark {
  background: var(--qwik-dark-background);
  color: var(--qwik-dark-text);
}
.container.container-center {
  text-align: center;
}
.container.container-flex {
  /* does nothing on mobile */
}
.container.container-spacing-xl {
  padding: 50px 40px;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 50px 80px;
  }
  .container.container-spacing-xl {
    padding: 100px 60px;
  }
  .container.container-flex {
    display: flex;
    justify-content: center;
    gap: 60px;
  }
}

/* BUTTONS and LINKS----------------------------- */
a {
  color: theme("colors.foregroundAccent.500");
}
a:hover {
  color: theme("colors.backgroundAccent.500");
}
a:focus-visible,
button:focus-visible,
input:focus-visible {
  outline: 4px solid theme("colors.foregroundAccent.500");
}

a.button,
button {
  background: theme("colors.backgroundAccent.400");
  border: none;
  border-radius: 8px;
  color: theme("colors.foregroundAccent.600");
  cursor: pointer;
  font-size: 0.8rem;
  padding: 15px 20px;
  text-align: center;
  font-weight: 900;
  transition: all 0.2s ease-in-out;
}

a.button:hover,
button:hover {
  background: theme("colors.backgroundAccent.500");
  color: theme("colors.foregroundAccent.700");
}

a:active,
button:active {
  transform: translateY(2.5px);
}

a.button.button-small,
button.button-small {
  padding: 15px 25px;
}

@media screen and (min-width: 768px) {
  a.button,
  button {
    font-size: 1rem;
    padding: 23px 35px;
  }
}

/* Scrolling carousel ----------------------------*/
.scroller {
  max-width: min(100%, 800px);
}

.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 20% 80%, transparent);
}

.scroller ul {
  @apply flex w-full list-none flex-wrap;
  --item-gap: 1rem;
  column-gap: var(--item-gap);
}

.scroller[data-animated="true"] ul {
  @apply w-max flex-nowrap justify-start;
  animation: scroll 16s infinite linear;
  animation-fill-mode: forwards;
  will-change: transform;
}

.scroller ul li {
  @apply whitespace-nowrap rounded bg-foregroundAccent-500 p-2 font-bold text-backgroundAccent-400;
}

@keyframes scroll {
  to {
    transform: translate3d(calc(-50% - 0.5rem), 0, 0);
  }
}
