/**
 * Tailwind CSS imports
 * View the full documentation at https://tailwindcss.com
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root { */
/*   --background: theme("colors.slate.900"); */
/*   --foreground: theme("colors.slate.500"); */
/*   /* rgba(var(--foreground), 0.25); */
/*   --accent-1: theme("colors.red.500"); */
/*   --accent-2: theme("colors.amber.400"); */
/*   --foreground-accent: var(--accent-1); */
/*   --background-accent: var(--accent-2); */
/*   --foreground-button: var(--accent-1); */
/*   --background-button: var(--accent-2); */
/* } */

@font-face {
  font-family: "Koulen";
  src: url("/fonts/Koulen-Regular.ttf") format("truetype");
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

html {
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

body {
  padding: 0;
  margin: 0;
  line-height: inherit;
  background: theme("colors.background.900");
  color: theme("colors.foreground.100");
  display: grid;
  justify-content: center;
  grid-template-rows: auto minmax(min-content, 1fr) auto;
  height: 100svh;
  grid-template-columns: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-koulen {
  font-family: "Koulen";
}

main {
  min-height: 100%;
}
